body {
    background-color: black;
    color: white;
}

#feedback {
    position: fixed;
    top: 90%;
    left: 90%;
}
#title {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 100px;
  }

.lower-div {
    /* Option 1: Use margin-top to add space above the div */
    /* margin-top: 200px; */

    /* Option 2: Use position to set the element's position */
    margin-top: 1000px;
    position: relative;
    top: 200px;
}

#feedback {
    background: rgba(32, 12, 215, 0.243);
    border: 2px solid;
    border-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#feedback:hover {
    background: rgba(32, 12, 215, 0.745);
    border-color: rgba(255, 255, 255, 0);
    transition-duration: 1s;
}

.buttons {
    cursor: pointer;
}

.section {
    text-align: center;
}

.fixed-element {
    position: fixed;
}